{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div>
<button class="btn btn-success" style='margin-bottom: 20px;' onclick="location.href='/add-password/'">
    {% bootstrap_icon "plus" %}
    Add Password
</button>
</div>
<div>
<table class="table">
</thead>
<tr>
    <th>Site</th>
    <th>Password</th>
    <th></th>
</tr>
</thead>
{% for password in list %}
<tr>
    <td>{{password.site}}</td>
    <td>{{password.password}}</td>
    <td>
        <button class="btn btn-info" onclick="location.href='/edit-password/{{password.id}}'">
        {% bootstrap_icon "pencil" %}
        Edit password
        </button>
        <button class="btn btn-danger" onclick="location.href='/delete-password/{{password.id}}'">
        {% bootstrap_icon "remove" %}
        Delete password
        </button>
    </td>
</tr>
{% endfor %}
</table>
</div>
{% endblock content %}

