{% extends "base.html" %}
{% load bootstrap3 %}
{% load bootstrap_pagination %}
{% load app_filters %}
{% load static %}

{% block content %}
    <div>
        <button class="btn btn-success" style='margin-bottom: 20px;'
                onclick="location.href='/add-password/'">
            {% bootstrap_icon "plus" %}
            Add Password
        </button>
    </div>
    <form>
        <div class="col-lg-5">
            <input class="form-control input-large" placeholder="Filter"
            value='{{query}}' type=text name=filter>
        </div>
            <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                    Filter
            </button>
    </form>
    {% if list %}
        <div>
            <table class="table">
                </thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                </tr>
                </thead>
                {% for password in list %}
                    <tr>
                        <td>{{ password.name }}</td>
                        <td>{{ password.username }}</td>
                        <td id='tr{{forloop.counter}}' mode='hidden'> ************ </td>
                        <td>
                            <button class="btn btn-primary" onclick="togglePasswordShowHide('{% hidePassword password request.session.master %}', '{{forloop.counter}}')">
                                    <span id='icon{{forloop.counter}}' class="glyphicon glyphicon-eye-open"></span>
                                    <span id='bsh{{forloop.counter}}'>
                                        Show Password
                                    </span>
                            </button>
                            <button class="btn btn-success"
                                    onclick="decodeAndCopy('{% hidePassword password request.session.master %}')">
                                    {% bootstrap_icon "pencil" %}
                                    Copy password to clipboard
                            </button>
                            <button class="btn btn-info"
                                    onclick="location.href='/edit-password/{{ password.id }}'">
                                {% bootstrap_icon "pencil" %}
                                Edit password
                            </button>
                            <button class="btn btn-danger"
                                    onclick="location.href='/delete-password/{{ password.id }}'">
                                {% bootstrap_icon "remove" %}
                                Delete password
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% bootstrap_paginate list %}
    {% endif %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock content %}

