{% extends "base.html" %}
{% load bootstrap3 %}
{% load bootstrap_pagination %}
{% load app_filters %}

{% block content %}
    <div>
        <button class="btn btn-success" style='margin-bottom: 20px;'
                onclick="location.href='/add-password/'">
            {% bootstrap_icon "plus" %}
            Add Password
        </button>
    </div>
    {% if list %}
        <div>
            <table class="table">
                </thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                </tr>
                </thead>
                {% for password in list %}
                    <tr>
                        <td>{{ password.name }}</td>
                        <td>{{ password.username }}</td>
                        <td> ************ </td>
                        <td>
                            <button class="btn btn-success"
                                    onclick="decodeAndCopy('{% hidePassword password request.session.master %}')">
                                    {% bootstrap_icon "pencil" %}
                                    Copy password to clipboard
                            </button>
                            <button class="btn btn-info"
                                    onclick="location.href='/edit-password/{{ password.id }}'">
                                {% bootstrap_icon "pencil" %}
                                Edit password
                            </button>
                            <button class="btn btn-danger"
                                    onclick="location.href='/delete-password/{{ password.id }}'">
                                {% bootstrap_icon "remove" %}
                                Delete password
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% bootstrap_paginate list %}
    {% endif %}
    <script>
function decodeAndCopy(base) {
    var decodedData = window.atob(base);
    var textArea = document.createElement("textarea");
        // Place in top-left corner of screen regardless of scroll position.
    textArea.style.position = 'fixed';
    textArea.style.top = 0;
    textArea.style.left = 0;

    // Ensure it has a small width and height. Setting to 1px / 1em
    // doesn't work as this gives a negative w/h on some browsers.
    textArea.style.width = '2em';
    textArea.style.height = '2em';

    // We don't need padding, reducing the size if it does flash render.
    textArea.style.padding = 0;

    // Clean up any borders.
    textArea.style.border = 'none';
    textArea.style.outline = 'none';
    textArea.style.boxShadow = 'none';

    // Avoid flash of white box if rendered for any reason.
    textArea.style.background = 'transparent';
    textArea.value = decodedData;

    document.body.appendChild(textArea);

    textArea.select();

    try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Copying text command was ' + msg);
    } catch (err) {
        console.log('Oops, unable to copy');
    }

    document.body.removeChild(textArea);
}
    </script>
{% endblock content %}

