{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}

    <form action="/me/change-password/" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success">
                {% bootstrap_icon "pencil" %}
                {% trans 'OK' %}
            </button>
            <button class="btn btn-danger" onclick='location.href="/me/edit/"'>
                {% bootstrap_icon "remove" %}
                {% trans 'Cancel' %}
            </button>
        {% endbuttons %}
    </form>
{% endblock content %}

